* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}







.chat-input {
  width: calc(100% - 180px);
  padding: 10px;
  margin-right: 10px;
}

.chat-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ac-pushButton {
  background: #fff 0 0 no-repeat padding-box;
  border: 1px solid #628bbb;
  border-radius: 4px;
  color: #628bbb;
  display: inline-flex;
  font-weight: lighter;
  line-height: 20px;
  margin: 4.5px 8px 4.5px 0;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  transition: all .5s ease;
  cursor: pointer;
}

.ac-pushButton[aria-pressed="true"] {
  background-color: rgb(0, 99, 177);
  border-color: rgb(0, 99, 177);
  color: white;
}